*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body
{
    width: 100vw;
    height: 100vh;

    background: url(Neture.jpg)no-repeat;
    background-position: center;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
}
.container
{
    width: 400px;
    height: 500px;

    background: rgb(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);

    border-radius: 40px;
    border: 3px solid rgb(255, 255, 255, 0.3);

    box-shadow: 0 0 30px rgb(0, 0, 0, 0.5 );

    display: flex;  
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
h1
{
    color: white;
    text-transform: uppercase;
    padding: 20px 0;
    font-size: 2em;
}
.form-group
{
    position: relative;
    width: 330px;
    border-bottom: 3px solid #fff;

    margin: 30px 0;
}
.form-group input
{
    width: 100%;
    height: 50%;
    background: transparent;
    border: none;
    outline: none;
    color: white;

    font-size: 1.2em;
    padding: 0px 30px 0 10px;
}
.form-group label
{
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 1.2em;
    color: #fff;
    transition: 0.5s;
}
input:focus ~ label,
input:valid ~ label
{
    top: -5px;
}
p
{
    text-align: center;
    color: #fff;
    padding: 10px 0;
}
p>a
{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    text-align: center;
}
p>a:hover
{
    text-decoration: underline;
    font-style: italic;
}
#btn
{
    width: 100%;
    height: 50px;
    border-radius: 40px;
    border: none;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    cursor: pointer;
    transition: 0.5s;
}
#btn:hover
{
    background: rgb(0, 0, 0.3);
    color: #fff;
}